*
  box-sizing: border-box
  padding: 0
  margin: 0

html,
body
  max-width: 100dvw
  min-height: 100dvh
  background-image: url(../../../public/assets/images/space.jpg)
  background-size: cover
#__next
  height: calc(100dvh - 104px)
  main
    display: grid
    height: 100%
    backdrop-filter: blur(3px)
    .container, .container section
      display: grid
