@mixin flammesTitre
    display: block
    font-size: 3em
    margin-block: 0.67em
    margin-left: 0
    margin-right: 0
    font-weight: bold
    background: url(../../../public/assets/images/soleil/soleil.gif)
    -webkit-background-clip: text
    background-clip: text
    background-position: center
    color: transparent!important
    filter: drop-shadow(0 0 2px white)

@mixin boutonSoleil
    background: linear-gradient(#00000052, #00000052), url(../../../public/assets/images/soleil/soleil.gif)
    background-size: 200%
    border: none
    color: white
    background-position: top
    transition: 0.3s
    padding-inline: 1rem
    margin-block: 15px
    box-shadow: 0 0 70px #c8350c
    