.card-wrapper > .card.card-nft
    .card-header
        // background: linear-gradient(to bottom, #2e0604 30%, transparent)
        border-bottom: none
        display: flex
        align-items: center
        justify-content: center
        .titre.lunes
            display: block
            font-size: 3em
            margin-block: 0.67em
            margin-left: 0
            margin-right: 0
            font-weight: bold
            background: url(../../../public/assets/images/lunes/terre/lune-rotate.gif)
            -webkit-background-clip: text
            background-clip: text
            background-position: center
            color: transparent!important
            filter: drop-shadow(0 0 2px white)
            width: fit-content
            margin: auto
            margin-bottom: 1rem
        [data-testid$="badge"]
            // background: url(../../../public/assets/images/gold.gif)
            background-position: bottom
            background-size: cover
            // text-shadow: 0 0 1px black
            right: 15px
            // box-shadow: 0 0 20px #f4d96c
    .prix
        font-size: 1.3em
        margin-top: 1em
        margin-bottom: 1em
        margin-left: 0
        margin-right: 0
        font-weight: bold

    .container-like
        display: block
        position: relative
        cursor: pointer
        user-select: none
        transition: 100ms
        height: fit-content
        &:hover
            transform: scale(1.1)
        input
            position: absolute
            opacity: 0
            cursor: pointer
            height: 0
            width: 0
            &:checked 
                ~ .checkmark
                    animation: like_effect 400ms ease
                    path
                        fill: #FF5353
                        stroke-width: 0
        .checkmark
            top: 0
            left: 0
            height: 2em
            width: 2em
            margin-top: 5px
            margin-left: 5px
            transition: 100ms
            animation: dislike_effect 400ms ease

@keyframes like_effect
    0%
        transform: scale(0)

    50%
        transform: scale(1.2)

    100%
        transform: scale(1)

@keyframes dislike_effect
    0%
        transform: scale(0)

    50%
        transform: scale(1.2)

    100%
        transform: scale(1)
