.card
    max-width: 30rem
    margin: auto
    border-radius: 10px!important
    &:hover .soleil-image
        transform: rotateZ(45deg)
.soleil
    background-color: #2e0604
    color: goldenrod
.soleil-image
    border-radius: 50%
    box-shadow: 0 0 50px #4f0c04
    // width: 110%
    height: auto
    // transform: translateX(-5%)
    transition: 2s
    perspective: 300px
    
.legendary
    animation: pulseLegendary 1s infinite alternate

// @keyframes pulseSoleil
//     0%
//         box-shadow: 0 0 5px #4f0c04
//     100%
//         box-shadow: 0 0 50px #4f0c04

@keyframes pulseLegendary
    0%
        box-shadow: 0 0 10px goldenrod
    100%
        box-shadow: 0 0 30px goldenrod