nav
    z-index: 1
    ul
        margin-block: 1.5rem!important
        margin-left: 6.5rem
    li
        margin-inline: 20px
    a
        &:hover
            color: #0689dd!important
.bg-white
    background-color: transparent!important