nav
    z-index: 1
    ul
        margin-block: 1.5rem!important
    li
        margin-inline: 20px
    a
        &:hover
            color: #0689dd!important
.bg-white
    background-color: transparent!important
    [data-testid$="tooltip"]
        background-color: black!important
        ul
            margin-block: 0.5rem!important